<div id='container' ng-app='shortly'>
  <!-- Your html here -->
  <div>
    <input ng-model="url">
    <!-- <button ng-click="addLink(url)">add a link</button> -->
    <button class='btn'><a href='http://localhost:3000/#/shorten'>Shorten link</a></button>
    <button class='btn' ng-click="getLinks()"><a>get a link</a></button>
    <div ng-init='data.links'> </div>
    <ul>
      <li ng-repeat = 'link in data.links'>
        Title: {{link.title}}
        <div><a href={{link.url}}>
          http://localhost:3000/api/links/{{link.code}}
        </a></div>
      </li>
    </ul>
    <div>{{ data.hello }}</div>
  </div>
</div>
