<div id='container' ng-app='shortly'>
  <!-- Your html here -->
  <div>
    <input ng-model="url">
    <button class='btn btn-lg btn-success btn-default'><a href='http://localhost:3000/#/shorten'>Shorten link</a></button>
    <button class='btn btn-lg btn-success btn-default' ng-click="getLinks()"><a>get a link</a></button>
    <div ng-init='data.links'> </div>
    <ul>
      <li  class='fx-fade-down fx-speed-100' ng-repeat = 'link in data.links  | filter:url'>
        Title: {{link.title}}
        <div>
        <a href={{link.url}}>http://localhost:3000/api/links/{{link.code}}
        <div>visits: {{ link.visits }}</div>
        </a>
        </div>
      </li>
    </ul>
    <div>{{ data.hello }}</div>
  </div>
</div>
